header {
  display: flex;
  justify-content: space-around;
}

* {
  font-family: Raleway, Times News Roman;
  font-size: 12px;
}

@keyframes img_anime {
  0% {
    transform: scale(0) rotate(0deg);
  }
  25% {
    transform: scale(0.7) rotate(120deg);
  }
  50% {
    transform: scale(0.4) rotate(240deg);
  }
  90% {
    transform: scale(0.6) rotate(300deg);
  }
  
  100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes yep_div {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

img {
  display: block;
  width: 200px;
  height: 200px;
  /*animation: img_anime 4s ease-in-out;*/
}

.coordonnée {
  margin: 5px;
}

i {
  margin-right: 10px;
  color: rgb(0, 102, 255);
}

h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 0px;
}

#titre {
  width: 80%;
  font-size: 15px;
  font-family: Raleway, Aguafina Script, Impact, Times News Roman;
  background: white;
  box-shadow: 3px 3px 3px black;
  padding: 10px;
  margin: 10px;
  margin-bottom: 17px;
}

h2 {
  font-size: 20px;
  border-bottom: 3px double black;
}

#nomDuPoste {
  border-bottom: none;
}

body {
  font-family: Raleway, Times New Roman, Arial;
  background: linear-gradient(white, rgb(0, 191, 255));
  background-attachment: local;
}

/*
.carte {
  padding: 0px 10px;
  transform:
    perspective(2750px)
    translate3d(0px, 0px, -250px)
    rotateX(27deg)
    scale(0.9, 0.9);
  border-radius: 20px;
  border: 5px solid #e6e6e6;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out transform;
}*/

.carte:hover {
  transform: translate3d(0px, 0px, -150px);
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }
  img, #titre {
    margin: 10px auto;
  }
  * {
    font-size: 13px;
  }
}
/*************************version pour imprimer*****************************************/
.carte {
  border: 1px solid rgb(222, 16, 16);
  margin: 20px;
  padding: 10px;
  box-shadow: 3px 3px 3px black;
  background: rgb(178, 234, 243);
  cursor: pointer;
}


/*.carte:hover {
  box-shadow: 5px 5px 5px rgb(0, 85, 255);
  animation: yep_div 0.4s forwards;
}
*/
